@inherits PortableRazor.ViewBase
@model Politician

<html>
<head>
	<link rel="stylesheet" href="jquery.mobile-1.4.0.min.css" />
	<script src="jquery-1.10.2.min.js"></script>
	<script src="jquery.mobile-1.4.0.min.js"></script>
</head>
<body>
	<div data-role="header" style="overflow:hidden;" data-position="fixed">
		@Html.ActionLink("Back", "ShowPoliticianList", null, new { 
			@class="ui-btn-left ui-btn ui-icon-back ui-btn-icon-notext ui-shadow ui-corner-all",
			data_icon = "arrow-l", 
			data_role="button", 
			data_mini="true", 
			data_inline="true", 
			data_transition="slide"})
    	<h1>@Model.FirstName @Model.LastName</h1>
    </div>
		
    <div style="margin-left:10" data-mini="true" data-inset="false">
	    <h4>@Model.FirstName @Model.LastName - @Model.Party @Model.State</h4>
	    <p><img src='@Model.ImageName'/></p>
	    <p>@Model.Phone</p>
		<p>@Model.OfficeAddress</p>
	</div>

	<div style="margin-left:10; margin-right:10" data-role="collapsible" data-mini="true" data-collapsed="false" data-inset="false">
	    <h4>More Info</h4>
		<ul data-role="listview" data-inset="false">
			<li>@Html.ActionLink("Recent Votes", "ShowRecentVotes", new {id = @Model.Id })</li>
			<li>@Html.ActionLink("Committees", "ShowCommittees", new {id = @Model.Id, bioguideid = @Model.BioGuideId })</li>
		</ul> 
	</div>

</body>
</html>
